h3{
    font-family: "Times New Roman", Times, serif;
}
.login-body{
    margin-top: 100px;
} 
.errorText{
    color: red;
    margin-left: 7px;
}
.user_card {
        height: 400px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #f39c12;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

}
.form_container {
        margin-top: 100px;
}
.login_btn {
        width: 100%;
        background: #c0392b !important;
        color: white !important;
}
.login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
.login_container {
        padding: 0 2rem;
}
.input-group-text {
        padding: 15px;
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
}

.registerPage{
        background-color: #f1f1f1;
        padding-bottom: 5rem;
}

.registerPage h1{
        font-family: 'Times New Roman', Times, serif;
}

.navbarhead{
        padding-right: 950px;
}

.sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        background-color: rgb(17, 17, 17);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
}
      
.sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
}
      
.sidebar a:hover {
        color: #f1f1f1;
}
      
 .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
 .openbtn {
        font-size: 15px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
}
      
.openbtn:hover {
        background-color: #444;
      }
      
 .mainBody {
        transition: margin-left .5s;
        /* padding: 16px 16px 0px 16px; */
}
      
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
}
.carousel-item img{
    height: 655px;
}

.allusersdisplay{
    background-color: rgb(216, 206, 206);    
}

.card-display{
     display: flex;
     flex-wrap: wrap;
}

.card{
        width: 20rem;
        flex-basis: calc(33.333% - 4rem);
        border: 1px solid #1a3dff;
        margin: 10px;
        flex-grow: 1;
}

.card img{
        height: 25rem;
}

.todo-box{
        border: 1px black;
} 

.editpagebody{
        background-color: #f1f1f1;
}
.editcard{
        margin-left: 2rem;
}
.editform{
        margin-top: 5rem;
        margin-right: 2rem;
}
.updatebutton{
        margin: 0px 100px 0px 80px;
}
.errorImage{
        width: 100%;
        height: 638px;
}

.nouserfound img{
        margin-left: 200px;
}

.strikethrough:checked + span{
        text-decoration: line-through;
        color:#818181;
}

/* .productswall{
        font-family: "Times New Roman", Times, serif;
        margin: 20px 20px 0px;
        position: absolute;
        background-image: url("https://i.dlpng.com/static/png/1390209-electronics-electronics-png-560_420_preview.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
        opacity: 0.5;
        background-size: cover;
} */
/* .productsbody{
        background-color: #f1f1f1;
}
.singleProduct{
        display: inline-block;
        border:solid rgb(65, 65, 236);
        border-radius: 5px;
        width: 400px;
        margin-right: 50px;
        margin-left: 200px;
        margin-bottom: 15px;
}
.singleProductbody{
        margin-bottom: 5px;
} 
.singleProductbody tr:hover {background-color: #ddd;}
.singleProductbody td{
        padding-right: 50px;
}
table{
        margin-top: 5px;
        margin-bottom: 5px;
}*/
.productswallbody{
        font-family: "Times New Roman", Times, serif;
        width: 1100px; 
        margin-left: 25px;
}
tr:hover {
        background: #bedfaf;
}
.editbutton{
        padding: 5px 20px 5px 20px;
}
.singleProduct{
        margin-left: 75px;
        margin-top: 200px;
}
.singleProductbody tr:hover {background-color: #ddd;}
.singleProductbody td{
        padding-right: 50px;
}
.singleProductbody{
        border: solid rgb(65,65,236);
        border-radius: 5px;
        padding-left: 10px;
}
/* .addprotitle{
        font-family: "Times New Roman", Times, serif;
}
.addProductpage{
        background-color: #f1f1f1;
        padding-bottom: 3rem;
}
.productadded{
        color: rgb(247, 132, 55);
}  */